.header__link {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration: none;
    margin: 0;
    width: max-content;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    color: #A9A9A9;
    
}